<div class="inner">
  <header class="major">
  <h2>Gallery</h2>

  <p>Our wedding photos are finally here! If we haven't already given you the password please ask us for it.</p>
  <a href="https://soulsistersphotography.pixieset.com/hayleyandryan/"> soulsistersphotography.pixieset.com/hayleyandryan</a>
  <br>
  <br>
  <div class="image">
  	<a href="https://soulsistersphotography.pixieset.com/hayleyandryan/"> <img src="images/Hayley.Ryan-465.jpg" alt="" /> </a>
  </div>

  <br>
  <br>
  <p>We also have a google photos gallery of some pre-wedding, post-wedding, and honeymoon photos! If you took any good photos of the big day we would really appreciate if you could them to us, or add them to the google photos album yourself if that is easier.</p>
  <a href="https://photos.app.goo.gl/K3pUmFlAGXMRwSEH2"> photos.app.goo.gl/K3pUmFlAGXMRwSEH2</a>
  <br>
  <br>
  <div class="image">
  	<a href="https://photos.app.goo.gl/K3pUmFlAGXMRwSEH2"> <img src="images/IMG_4554.jpg" alt="" /> </a>
  </div>

  </header>
</div>