<div class="inner">
  <header class="major">
  <h2>Come celebrate with us</h2>

  <p>Hayley MacDonald and Ryan McCardle are finally getting married!</p>

  <p>The wedding will be at Nathan Homestead in South Auckland (see the <a href="#location" class="more scrolly">map below</a>) on Saturday, March 10th, 2018.</p>

  <p><a href="https://www.facebook.com/NathanHomesteadAkl/">Nathan Homestead</a> is Manurewa's community arts centre. The historic Homestead was built in 1925 and has been kept in its original state. It is situated on nine acres of lovely lawn and gardens.</p>

  <p>Ceremony: 4:30pm</p>

  <p>Reception with buffet dinner and dancing: 6pm - 11pm</p>

  	<!--
    <h2>Come party with us in Lawrence!</h2>
    <p>Sarah Chao and Matt Menzenski are tying the knot, and you're invited!</p>
    <p>The wedding will take place in Lawrence, Kansas at Centennial Park's Eastern pavilion (see the <a href="#location" class="more scrolly">map below</a>) on Saturday, June 3, 2017. The pavilion is a covered, outdoor space with banquet-style picnic tables and a small deck area. The park itself is a sprawling green space with a playground, restrooms, skate park, and disc-golf course.</p>
    <p>The ceremony is scheduled for 5:00pm, rain or shine. Drinks, local barbecue, and dessert to follow. Guests are welcome to arrive anytime after 4:00pm. We will be outdoors, enjoying the sunny weather (historically, temperatures average 65&deg;F on June 3 in Lawrence), playing lawn games, and eating barbecue. Feel free to wear whatever you will be comfortable in.</p>
    <p><em>In the unlikely case of extreme or inclement weather, please check this webpage for any last-minute adjustments to the wedding schedule.</em></p>
    -->

    <b id="countdown"></b>
  </header>
</div>

<script>
// Wedding countdown
// Set the date we're counting down to
var countDownDate = new Date(1520652600000).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = days + " days " + hours + ":"
  + minutes + ":" + seconds + " to go!";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Married!";
  }
}, 1000);
</script>
