<div class="inner">
  <header class="major">
  <h2>Come celebrate with us</h2>

  <p>Hayley MacDonald and Ryan McCardle are finally getting married!</p>

  <p>The wedding will be at Nathan Homestead in South Auckland (see the <a href="#location" class="more scrolly">map below</a>) on Saturday, March 10th, 2018.</p>

  <p><a href="https://www.facebook.com/NathanHomesteadAkl/">Nathan Homestead</a> is Manurewa's community arts centre. The historic Homestead was built in 1925 and has been kept in its original state. It is situated on nine acres of lovely lawn and gardens.</p>

  <p>Ceremony: 4:30pm</p>

  <p>Reception with buffet dinner and dancing: 6pm - 11pm</p>

  <p>Invited guests only, and no children at the ceremony or reception please.</p>

  <p>All are welcome at an informal bring a plate lunch at 12pm the following day, venue to be confirmed once we know numbers (let us know in the RSVP form) so check back here for more details closer to the date.</p>

    <b id="countdown"></b>
    <br>
    <br>
    <ul class="actions vertical">
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd7Usq-E3NnY7UQMHnM9VK0_bIhXyGs7PZ2rN3Q-8Vko2KIVA/viewform?usp=sf_link" class="button special">Click here to RSVP</a></li>
    </ul>

  </header>
</div>

<script>
// Wedding countdown
// Set the date we're counting down to
var countDownDate = new Date(1520652600000).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = days + " days " + hours + ":"
  + minutes + ":" + seconds + " to go!";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Married!";
  }
}, 1000);
</script>
