<div class="inner">
  <header class="major">
  <h2>Bring a plate lunch</h2>

  <p>The bring a plate lunch starts at midday the day after the wedding (11th of March).</p>

  <div class="image">
    <img src="images/outhwaitehall.jpg" alt=""/>
  </div>

  <p>The venue is Outhwaite hall, located in Outhwaite park at the corner of Park Road and Grafton Road (<a href="https://goo.gl/maps/eaDUZzs37PK2">google maps link</a>). Grafton train station is a very short walk away if you want to take the train. There is a limited number of off street parks which we can use, and on a Sunday there should also be parking in the surrounding streets. The hall has a kitchette with a fridge and hot water (no cooking elements), and a toilet.</p>

  <p>The park surrounding the hall is lovely so feel free to bring a picnic blanket and hope for sunny weather, but there is also seating inside. There is also a decent playground for the young (or young at heart).</p> 

  </header>
</div>
