<div class="inner">
  <header class="major">
    <h2>Registry</h2>
    <p>We do love gifts but unfortunately can't take them with us all the way back to the UK. So the best gift for us is having you there to share the special day with us.</p>
    <p>However if you would still like to give something, contributions towards our honeymoon in the Maldives would be greatly appreciated. Cash at the wedding would be great, but if you want something easier and more secure our bank details follow.</p>

	NZ account number: 12-3618-0009780-00<br>
	<br>
	UK account number: 76431819<br>
	Sort code: 60-02-35<br>
	IBAN: GB52NWBK60023576431819<br>
	BIC: NWBKGB2L<br>
	<br>

	<p>Please contact us to let us know so we can thank you properly, and if you'd like to make it more personal let us know if there is something in particular you'd like to contribute towards (perhaps cocktails on the beach, scuba diving, brunch, flights or something more!) - we'll then try our best to send you a picture of us enjoying said thing :)</p>

	<p>If you would prefer to give us a physical gift, see <a href="http://amzn.eu/8kOsuR3">here for a short Amazon Wishlist</a> of things that can be delivered to us in the UK.</p>
</div>
