<div class="inner">
  <header class="major">
    <h2>Traveling to Nathan Homestead</h2>
    <p>Nathan Homestead is at 70 Hill Road in Manurewa, down the road from the Botanic Gardens.</p>

    <h4>If you're taking public transport:</h4>
    <p>45 minutes by train from Britomart. Take the Southern line towards Papakura and get off at Manurewa station. Nathan Homestead is a 15 minute walk. Last train back is at 12:08am going North and 1am going South. If enough people are taking the train we plan to organise a shuttle to/from the venue (let us know when you RSVP).</p>
    
    <h4>If you're driving:</h4>
    <p>20 - 30 minutes from the city centre. Take SH 1 (Southern Motorway) and exit 451 (from the North) or 453 (from the South) towards Manurewa. Free parking available on site. Please organise a sober driver or use a service like Dial a Driver which also gets your car home. There is on street parking if you want to leave your car overnight.</p>

    <h4>If you're planning to fly in:</h4>
    <p>Unfortunately there is no reasonable public transport option from the airport. Nathan Homestead is a 15 minute taxi or Uber drive away.</p>
  </header>
</div>
