<div class="inner">
  <header class="major">
    <h2>The Wedding Party</h2>
    <p>A.K.A. The A-Team</p>
  </header>
  <ul class="features">
    <li class="icon fa-user">
      <h3>Liam</h3>
      <p>Hayley's friend...</p>
    </li>
    <li class="icon fa-user">
      <h3>Greg MacDonald</h3>
      <p>Hayley's older brother...</p>
    </li>
    <li class="icon fa-user">
      <h3>Nic Kerrigan</h3>
      <p>Ryans Friend...</p>
    </li>
    <li class="icon fa-user">
      <h3>Mark Gilmour</h3>
      <p>Ryans Friend...</p>
    </li>
  </ul>
</div>
